

#tabela_psow {
    width: 75%;
    border-collapse: collapse;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


.psiaczki{
    width: 45%;
    margin: auto;
}
td{
    text-align: center;
}