

#tabela_psow {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


.psiaczki{
    width: 50%;
    margin: auto;
}
td{
    text-align: center;
}
th {background-color: #FF0000}